/*Inside body: Font, background, width and fontcolor*/
body {
    font-family: 'Roboto', sans-serif;
    background-image: url(./Redraw_After_6_Years.jpg);
    background-size: cover;
    margin: auto;
    max-width: 600px;
    color: white;
}

/*position centered (idk why is does not work with center -.-)*/
#headerpart{
    position: relative;
    margin-top: 30%;
    margin-left: 30%;
}
/*position of the headlines and fontsize)*/
#head1{
    font-size: 40px;
    margin-left: 8%;
}

#head2{
    font-size: 20px;
    margin-left: 40%;
    margin-right:10px;
}
#checkAndTaskDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

h2 {
    font-size: 20px;

}

/*design of the task field and also the button*/
input {
    background-color: white;
    border: 2px;
    border-color: black;
    border-radius: 15px;
    padding: 15px;
    display: inline;
}

/*design for the task field after you added it to the list, also delete button design*/
main {
    margin: auto;
    width: 100%;
}
.taskAlign {
    display: flex;
    flex-direction: row;
}

.task-list {
    padding: 15px;
}
#tasks {
    display: flex;
    flex-direction: column;
}

#tasks .task {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
    width:100%;
    padding: 10px;
}

#tasks .task .content .text {
    color: black;
    font-size: 12px;
    transition: 0.4s;
}

#tasks .task .content .text:not(:read-only){
    color: blue;
}

#tasks .task .actions {
    display: flex;
    margin: 0;

}
.delete {
    border: none;
    background-color: transparent;
    color: rgb(132, 0, 255);
}

.task {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
}
[type="checkbox"] {
    margin-right: 20px;
    position: relative;
    top:5px;
    width:50px;
    height:50px;
    z-index: 0;
  }

